
body{
    font-family: "Montserrat" , sans-serif;
}

h1{
   font-family: 'Montserrat', sans-serif;
   font-size: 3.5rem;
   font-weight: 900;
   line-height: 1.5;
}

h2{
   font-family: "Montserrat";
   font-weight: 900;
   font-size: 3rem;
   line-height: 1.5;
}

h3{
   font-family: "Montserrat";
   font-weight: 900;
   font-size: 1.3rem;
}

p{
   color: #8f8f8f;
}

#title{
    background-color: #ff4c68;
    color: white;
}

.container-fluid{
    padding:3% 15% 7%;
}


/* Navigation Bar */

.navbar{
    padding: 0 0  4.5rem 0;
}

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: normal;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat";
}

/* Buttons */

.download-button{
    margin: 5% 3% 5% 0;
}

/* Title Image */

 .title-image{
    width: 20%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
 }

 /* Features Section */

 #features{
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
      
 }



 .feature-box{
    text-align: center;
    padding: 5%;
 }

 .icon{
    color: #ef8172;
    margin-bottom: 1rem;
 }

 .icon:hover{
    color: #ff4c68;
 }

 /* Testimonial Section */

 #testimonials{ 
    text-align: center;
    background-color:#ef8172;
    color: #fff;
 }

 .testimonial-image{
    width: 10%;
    border-radius: 50%;
    margin: 20px;
 }

 .carousel-item{
    padding: 7% 15%;
 }

 #press{
    background-color:#ef8172;
    text-align: center;
    padding-bottom: 3%;
 }

 .press-logo{
    width: 15%;
    margin: 20px 20px 50px;
 }

 /* Pricing Section */

 #pricing{
    padding: 100px;
    text-align: center;
 }

 .pricing-column{
    padding: 3% 2%;
 }

 .pricing-button{
    padding: 2% 30%;
 }


 /* Call To Action Section */

 #cta{
   padding: 7% 20%;
   text-align: center;
   background-color: #ff4c68;
   color: #fff;
 }

 .cta-title{
   font-family: "Montserrat";
   font-weight: 900;
   font-size: 3rem;
   line-height: 1.5;
   letter-spacing: -1px;
   padding-bottom: 4%;
 }

 .cta-button{
   margin: 2%;
 }

 /* Footer Section */

 #footer{
   padding: 6% 15% 8%;
   text-align: center;
 }

 .footer-icon{
   margin: 1.2%;
   margin-bottom: 20px;
 }


 
/* 
 Responsive Design */

 @media(max-width: 1028px){

   #title{
      text-align: center;
   }

   .title-image{
      position: static;
      width: 50%;
      transform: rotate(0)
   }
 }


/* Commit */

.navbar-toggler{
color:white;
}


